@import './_normalize';

html {
    background: #1d1d1d;
}

body {
    margin: 0px;
    background-color: #1d1d1d;
}

button {
    height: 40px;
    color: white;
        text-transform: uppercase;
        text-decoration: none;
        background: #ed3330;
        padding: 13px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
}
button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 30px;
    &-logo {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    &-logo:hover {
        color: #ed3330;
    }
    &-sign {
        width: 150px;
        height: 50px;
        margin-right: 74px;
    }
}

.toolbox {
    height: 100vh;
    position: absolute;
    background-color: #1D1D1D;
    width: 250px;
    &-resize {
        margin: 20px 0;
        &_text {
            color: white;
        }
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
}

.toolbox .group .item {
    width: 45px;
    height: 45px;
    background: #444444;
    border: 1px solid #1D1D1D;
    line-height: 60px;
    text-align: center;
}

.toolbox .group .item:hover {
    opacity: 0.7;
    cursor: pointer;
}

.toolbox .group .item.active {
    border: 1px solid #ffd700;
}

.toolbox.left {
    display: flex;
    left: 1%;
    top: 10%;
}

.toolbox .group.linewidths .item {
    position: relative;
    width: 21px;
    height: 21px;
    background: #444444;
    border: 1px solid #1D1D1D;
    line-height: 20px;
    text-align: center;
}

.toolbox .group.linewidths .item .linewidth {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toolbox .group.linewidths .item.active {
    border: 1px solid #ffd700;
}

.swatches {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    width: 58px;
    height: 58px;
    margin: auto 0;
}

.swatches input {
    position: absolute;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #3f4249;
}

.swatches input.primary {
    top: 0;
    left: 0;
    z-index: 2;
}

.swatches input.secondary {
    top: 50%;
    left: 50%;
    z-index: 1;
}

.fa-share {
    position: absolute;
    bottom: -15px;
    left: 10px;
    transform: rotate(-90deg);
    font-size: 18px;
    color:#888888;
}

i {
    color: white;
    font-size: 30px;
}

.frame {
    width: 145px;
    height: 145px;
    background: url('../images/background-canvas.png');
    &-button_create {
        font-size: 12px;
    }
    &-button_create:hover {
        font-size: 12px;
    }
}

.toolbox.right {
    right: 0px;
    top: 12%;
}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background-color: white;
}

.frames-list {
    list-style-type: none;
    padding: 0;
}

.active-frame {
    border: 1px solid yellow;
}

.canvas-animation {
    position: relative;
    width: 150px;
    &_item {
        width: 150px;
        height: 150px;
        background: url('../images/background-canvas.png');
    }
    &_fullscreen {
        position: absolute;
        top: 0;
        right: 10px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        border: none;
    }
}

.fa-arrows-alt {
    font-size: 20px;
    color: black;
}

.slidecontainer {
    display: flex;
    &-output {
        padding: 5px;
        color: white;
    }
}

.frame-unit {
    position: relative;
    display: block;
}

.button-close {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
}

.button-duplicate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none; 
}

.fa-window-close {
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 5px;
}

.fa-clone {
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 5px;
}


