@font-face {
    font-family: 'Lato Thin';
    src: url('../assets/fonts/Lato-Thin.eot');
    src: url('../assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Lato-Thin.woff') format('woff'),
    url('../assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

 body {
     font-family: 'Lato Thin';
 }   
